# --- General ---
.DS_Store
Thumbs.db
.idea/
.vscode/
.nvim/
*.swp
*.swo
*.log
*.pid
*.seed
*.pid.lock

# --- Logs ---
**/npm-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

**/node_modules
**/dist
**/build
**/coverage
**/.svelte-kit
**/.output
**/.vercel
**/.netlify

**/.env
**/.env.*
!**/.env.example
!**/.env.sample

**/playwright-report
**/test-results

docker-compose.override.yml

**/__pycache__/
**/*.py[cod]
**/.venv
**/venv/
**/env/

**/bin/
**/*.exe
