services:
  frontend:
    build:
      context: ./frontend
      target: dev
    ports:
      - 4000:4000
      - ${DOCKER_FRONTEND_PORT:-5173}:5173
    environment:
      INTERNAL_API_URL: ${INTERNAL_API_URL:-http://backend:8080}
      PUBLIC_API_URL: ${PUBLIC_API_URL:-http://localhost:8080}
      INTERNAL_API_AUTH_USERNAME: ${INTERNAL_API_AUTH_USERNAME:-}
      INTERNAL_API_AUTH_PASSWORD: ${INTERNAL_API_AUTH_PASSWORD:-}

  backend:
    build:
      context: ./backend
    ports:
      - ${DOCKER_BACKEND_PORT:-8080}:8080
    volumes:
      - ./backend/pb_data:/pb/pb_data
